@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.Home.FooterViewModel

<div class="index-5">
    <div class="container">
        <div class="slider-partner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.Partner)
                    {
                        <div class="swiper-slide"><a href="#"><img src="@item.Image" alt=""></a></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="logo"><img class="lazyload blur-up" data-src="/content/resources/assets/logo-white.png" alt=""></div>
                @if (Model.Branch != null)
                {
                    <ul class="list-info-footer">
                        <li>@Model.Branch.Address</li>
                        <li>@Model.Branch.Phone </li>
                        <li>@Model.Branch.Fax</li>
                        <li>@Model.Branch.Email</li>
                    </ul>
                }
            </div>
            <div class="col-lg-4">
                <div class="title-footer">@Html.GetResource(TempResourceKeyCollection.Subscribe_Title)</div>
                <div class="block-form">
                    @Html.Partial("_Subscribe", new MainProject.SBussiness.LandingPage.Models.Home.SubscribeModel())
                </div>
            </div>
            <div class="col-lg-4">
                <div class="title-footer">MENU</div>
                <ul class="list-link">
                    <div class="item"><a class="link" href="index.html">TRANG CHỦ</a></div>
                    <div class="item"><a class="link" href="gioi-thieu.html">GIỚI THIỆU</a></div>
                    <div class="item"><a class="link" href="cho-thue-van-phong.html">CHO THUÊ VĂN PHÒNG</a></div>
                    <div class="item"><a class="link" href="tin-tuc.html">TIN TỨC</a></div>
                    <div class="item"><a class="link" href="tuyen-dung.html">TUYỂN DỤNG</a></div>
                    <div class="item"><a class="link" href="lien-he.html">LIÊN HỆ</a></div>
                </ul>
            </div>
        </div>
    </div>
</footer>