@using MainProject.Core
@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.Home.HomeViewModel

<section class="index-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 content-about-us">
                <h2 class="wow fadeInLeft" data-wow-delay=".2s">@Model.IntroCategory.Title</h2>
                <div class="content">
                    @Html.Raw(Model.Section1.Content)
                    <a class="btn read-more main-color" href="@(Model.IntroCategory != null ? Model.IntroCategory.GetPrefixUrl() : "")">
                        @Html.GetResource(ResourceKeyCollection.Read_More)
                    </a>
                </div>
            </div>
            <div class="col-lg-6 img-about-us">
                <div class="img ov-h">
                    <img class="ofcv lazyload blur-up" data-src="@Model.Section1.Image" alt="GIỚI THIỆU" srcset="">
                </div>
            </div>
        </div>
        <div class="number-of-page dekstop wow fadeInRight" data-wow-delay=".2s"> <span>01.</span></div>
    </div>
</section>
@if (Model.NewsCategory != null)
{
    <section class="index-2">
        <div class="row no-gutters">
            <div class="news-images col-lg-3">
                <figure class="ov-h">
                    <img class="ofcv lazyload blur-up" data-src="@Model.NewsCategory.ImageDefault" alt="" srcset="">
                    <figcaption class="number-of-page">
                        <h2>02.</h2><a class="wow fadeInDown" data-wow-delay=".2s" href="tin-tuc.html">@Model.NewsCategory.Title</a>
                    </figcaption>
                </figure>
            </div>
            <div class="block-list-new col-lg-9">
                <div class="list-item-news">
                    @foreach (var item in Model.Newses)
                    {
                        <div class="item-news">
                            <a href="tin-tuc-chi-tiet.html">
                                <h2 class="lcl lcl-2">@item.Title</h2>
                                <time>@item.Order.ToString("dd/MM/yyyy")</time>
                                <div class="desc">
                                    <p>@item.Description</p>
                                </div>
                            </a>
                        </div>
                    }
                    <div class="block-view-more">
                        <a class="btn read-more white" href="@Model.NewsCategory.GetPrefixUrl()">
                            @Html.GetResource(ResourceKeyCollection.Read_More)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@if (Model.OfficeCategory != null)
{
    <section class="index-3">
        <div class="block-intro">
            <div class="block-title">
                <h2 class="wow fadeInDown" data-wow-delay=".2s">@Model.OfficeCategory.Title</h2>
                <h3 class="wow fadeInUp" data-wow-delay=".2s">@Html.GetResource(ResourceKeyCollection.Office_Description)</h3>
                <p class="lcl lcl-2">
                    @Model.OfficeCategory.Description
                </p>
            </div>
            <div class="number-of-page">
                <h4>03.</h4><a class="wow fadeInDown" data-wow-delay=".2s" href="#">@Html.GetResource(ResourceKeyCollection.Home_Office)</a>
            </div>
        </div>
        <div class="container">
            <div class="slider-projects">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Offices)
                        {
                            <div class="swiper-slide">
                                <div class="item-project">
                                    <a href="@item.GetUrl()">
                                        <figure class="ov-h">
                                            <img class="ofcv" src="@item.ImageDefault">
                                            <figcaption>
                                                <div class="project-info">
                                                    <div class="name">@item.Title</div>
                                                    <div class="desc lcl lcl-3">@item.Description</div>
                                                    <a class="btn read-more main-color" href="@item.GetUrl()">
                                                        @Html.GetResource(ResourceKeyCollection.Read_More)
                                                    </a>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="block-view-more ta-c">
                <a class="btn read-more main-color" href="@Model.OfficeCategory.GetPrefixUrl()">
                    @Html.GetResource(ResourceKeyCollection.Read_More)
                </a>
            </div>
        </div>
    </section>
}
<div class="index-4">
    <a href="/content/resources/assets/images/index/infrastructure-01.png" data-fancybox="list-images">
        <div class="title-facilities">
            <div class="block">
                <p>@Model.Section2.Title</p>
                <p>@Model.Section2.Content</p>
            </div>
        </div>
    </a>
    <div class="slider-facilities">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var item in JsonHelper.Deserialize<List<Image>>(Model.Section2.Image) ?? new List<Image>())
                {
                    <div class="swiper-slide">
                        <div class="img ov-h">
                            <img class="ofcv" src="@item.ResourcePath" alt="">
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- DANH SÁCH HÌNH ẢNH POPUP - GẮN ĐÚNG LINK ẢNH + DATA FANCYBOX-->
        <div class="d-n">
            @{
                int count = 0;
                foreach (var item in JsonHelper.Deserialize<List<Image>>(Model.Section2.Image) ?? new List<Image>())
                {
                    if (count > 0)
                    {
                        <a href="@item.ResourcePath" data-fancybox="list-images">
                            <img src="@item.ResourcePath" alt="">
                        </a>
                    }
                    count += 1;
                }
            }
        </div>
    </div>
</div>
<div class="index-page" id="js-page-verify" hidden></div>
