@using MainProject.Core
@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.News.NewsDetailViewModel

<section class="news-detail">
    <div class="container">
        <h3 class="title">@Model.Article.Title</h3>
        <div class="description">
            <div class="ckeditor desc-item-detail">
                @Html.Raw(Model.Article.Body)
            </div>
        </div>
        <ul class="social-media">
            <li class="item"><a href="#"><img class="lazyload blur-up" data-src="/Content/resources/assets/icons/facebook.svg" alt=""></a></li>
            <li class="item"><a href="#"><img class="lazyload blur-up" data-src="/Content/resources/assets/icons/mail.svg" alt=""></a></li>
        </ul>
    </div>
</section>
<section class="news-others">
    <div class="container">
        <div class="slider-item-others">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.Articles)
                    {
                        <div class="swiper-slide">
                            <a href="@item.GetUrl()">
                                <figure class="ov-h">
                                    <img class="ofcv" src="@item.ImageDefault" alt="@item.Title">
                                    <figcaption>
                                        <a class="btn read-more main-color" href="@item.GetUrl()">
                                            @Html.GetResource(ResourceKeyCollection.Read_More)
                                        </a>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>