@using MainProject.Core
@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.News.NewsViewModel

<section class="news">
    <div class="container">
        <div class="block-title">
            <h2 class="wow fadeInDown" data-wow-delay=".2s">@Model.Category.Title</h2>
            @Html.Raw(Model.Category.Description)
        </div>
        <div class="list-news">
            @foreach (var item in Model.Articles)
            {
                <div class="item-news wow fadeIn" data-wow-delay=".2s">
                    <div class="img ov-h" data-getHeight><a href="tin-tuc-chi-tiet.html"><img class="ofcv" src="@item.ImageDefault" alt=""></a></div>
                    <div class="content ov-h" data-setHeight="575.98">
                        <h3 class="lcl lcl-2">@item.Title</h3>
                        <p class="lcl lcl-5">@item.Description</p>
                        <a class="btn read-more main-color" href="@item.GetUrl()">
                            @Html.GetResource(TempResourceKeyCollection.Read_More)
                        </a>
                    </div>
                </div>
            }
        </div>
        <ul class="pagination">
            <li class="pagination-prev"><a href="#"><span><</span></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li class="pagination-dot"><a href="#">...</a></li>
            <li><a href="#">981</a></li>
            <li class="pagination-next"><a href="#"><span>></span></a></li>
        </ul>
    </div>
</section>
