@using MainProject.Core
@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.News.IntroductionViewModel

<section class="about-1">
    <div class="container">
        <ul class="list-menu">
            <li class="item-menu">
                <div class="link wow fadeInLeft" data-wow-delay=".2s" data-sroll=".about-2">@Model.Section1.Title</div>
            </li>
            <li class="item-menu">
                <div class="link wow fadeInLeft" data-wow-delay=".4s" data-sroll=".about-3">@Model.Section2.Title</div>
            </li>
            <li class="item-menu">
                <div class="link wow fadeInLeft" data-wow-delay=".6s" data-sroll=".about-3">@Model.Section3.Title</div>
            </li>
            <li class="item-menu">
                <div class="link wow fadeInLeft" data-wow-delay=".8s" data-sroll=".about-4">@Model.Section4.Title</div>
            </li>
        </ul>
    </div>
</section>
<section class="about-2">
    <div class="container">
        <div class="row">
            <div class="col-md-5 box-left">
                <div class="img oh-v" data-getHeight><img class="ofcv" src="@Model.Section1.Image" alt=""></div>
            </div>
            <div class="col-md-7 box-right" data-setHeight>
                <div class="block-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".2s">@Model.Section1.Title</h2>
                </div>
                @Html.Raw(Model.Section1.Content)
            </div>
        </div>
    </div>
</section>
<section class="about-3">
    <div class="block row no-gutters">
        <div class="col-md-6 box-imgae">
            <figure class="ov-h" data-getHeight>
                <img class="ofcv" src="@Model.Section2.Image" alt="">
                <figcaption>
                    @Html.Raw(Model.Section2.Title)
                </figcaption>
            </figure>
        </div>
        <div class="col-md-6 box-content" data-setHeight="767.98">
            @Html.Raw(Model.Section2.Content)
        </div>
    </div>
    <div class="block row no-gutters">
        <div class="col-md-6 box-content" data-setHeight="767.98">
            @Html.Raw(Model.Section3.Content)
        </div>
        <div class="col-md-6 box-imgae">
            <figure class="ov-h" data-getHeight>
                <img class="ofcv" src="@Model.Section3.Image" alt="">
                <figcaption>
                    @Html.Raw(Model.Section3.Title)
                </figcaption>
            </figure>
        </div>
    </div>
</section>
<section class="about-4">
    <div class="container">
        <div class="block-title">
            <h3 class="wow fadeInDown" data-wow-delay=".2s">@Model.Section4.Title</h3>
        </div>
        <div class="description lcl lcl-2">
            @Html.Raw(Model.Section4.Content)
        </div>
    </div>
    <div class="block-slider-about-partner">
        <div class="container">
            <div class="slider-about-partner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var item in JsonHelper.Deserialize<List<Partner>>(Model.Section4.Image) ?? new List<Partner>())
                        {
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="logo"><img class="ofcv" src="@item.Image" alt=""></div>
                                    <div class="name">@item.Name</div>
                                    <div class="numbers">0@(item.Order)</div>
                                    <ul class="list-info">
                                        <li class="item">
                                            <span>@Html.GetResource(TempResourceKeyCollection.Intro_Bussiness): </span>
                                            <p>@item.Bussiness</p>
                                        </li>
                                        <li class="item">
                                            <span>Website: </span>
                                            <p>@item.Website</p>
                                        </li>
                                        <li class="item">
                                            <span>@Html.GetResource(TempResourceKeyCollection.Intro_Phone): </span>
                                            <p>@item.Tel</p>
                                        </li>
                                        <li class="item">
                                            <span>Fax: </span>
                                            <p>@item.Fax</p>
                                        </li>
                                        <li class="item">
                                            <span>Email: </span>
                                            <p>@item.Email</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
