@using MainProject.Core
@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.News.NewsViewModel

<section class="offices">
    <div class="block-title">
        <h2 class="wow fadeInDown" data-wow-delay=".2s">@Model.Category.Title</h2>
        @Html.Raw(Model.Category.Description)
    </div>
    <div class="container">
        <div class="slider-projects">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.Articles)
                    {
                        <div class="swiper-slide">
                            <div class="item-office">
                                <a href="@item.GetUrl()">
                                    <figure>
                                        <div class="img ov-h"><img class="ofcv" src="@item.ImageDefault"></div>
                                        <figcaption>
                                            <div class="project-info">
                                                @Html.Raw(item.Title)
                                                <a class="btn read-more main-color" href="@item.GetUrl()">
                                                    @Html.GetResource(ResourceKeyCollection.Read_More)
                                                </a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>
