@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.Contact.ContactManageViewModel

@using (Ajax.BeginForm("Submit", "Contact", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "subscribeSuccess" }))
{
    <div class="form-group">
        @Html.TextBoxFor(d => d.Name, new { @class = "form-control name", placeholder = Html.GetResource(TempResourceKeyCollection.Contact_Form_Name) + "*" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(d => d.Email, new { @class = "form-control email", placeholder = Html.GetResource(TempResourceKeyCollection.Contact_Form_Email) + "*" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(d => d.Phone, new { @class = "orm-control phone-number", placeholder = Html.GetResource(TempResourceKeyCollection.Contact_Form_Phone) + "*" })
    </div>
    <div class="form-group">
        @Html.TextAreaFor(d => d.Content, new { @class = "form-control content", placeholder = Html.GetResource(TempResourceKeyCollection.Contact_Form_Content) + "*" })
    </div>
    <div class="block-recaptcha-submit">
        <div class="recaptcha"><img src="/content/resources/assets/recaptcha.gif" alt="" srcset=""></div>
        <div class="submit">
            <button data-url="ajax">@Html.GetResource(TempResourceKeyCollection.Contact_Success)</button>
        </div>
    </div>
}
