@using MainProject.Core
@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.Contact.ContactViewModel

<section class="contact">
    <div class="block-send-mail">
        <div class="container">
            <div class="block-title">
                <h2 class="wow fadeInDown" data-wow-delay=".2s">@Model.Category.Title</h2>
                <h3 class="wow fadeInUp" data-wow-delay=".2s">@Html.GetResource(TempResourceKeyCollection.Office_Name)</h3>
                <p class="lcl lcl-2">@Model.Category.Description</p>
            </div>
            <div class="block-form">
                @Html.Partial("_Form", new MainProject.SBussiness.LandingPage.Models.Contact.ContactManageViewModel())
            </div>
        </div>
    </div>
    @if (Model.Branches.Count > 0)
    {
        <div class="block-address">
            <div class="container">
                <div class="block-title">
                    <h2 class="wow fadeInDown" data-wow-delay=".2s">@Html.GetResource(TempResourceKeyCollection.Contact_Branch)</h2>
                    <h3 class="wow fadeInUp" data-wow-delay=".2s">@Html.Raw(Model.Branches[0].OfficeName)</h3>
                    <p class="lcl lcl-2">@Html.Raw(Model.Branches[0].Description)</p>
                </div>
                <ul class="list-info-company">
                    <li class="item">
                        <span>@Html.GetResource(TempResourceKeyCollection.Branch_Address):</span>
                        <p>@Model.Branches[0].Address</p>
                    </li>
                    <li class="item">
                        <span>@Html.GetResource(TempResourceKeyCollection.Branch_Email):</span>
                        <p>@Model.Branches[0].Email</p>
                    </li>
                    <li class="item">
                        <span>@Html.GetResource(TempResourceKeyCollection.Branch_Fax):</span>
                        <p>@Model.Branches[0].Fax</p>
                    </li>
                    <li class="item phone">
                        @Html.Raw(Model.Branches[0].Phone)
                    </li>
                </ul>
                <div id="map"></div>
            </div>
        </div>
    }
</section>
@section scripts{
    <script>
        var locationsInput = [
                @foreach (var item in Model.Branches)
                {
                    <text>
                        {
                            lat: @item.Lat,
					        lng: @item.Lng,
					        title: '@item.OfficeName',
					        address: '@item.Address',
					        phone: '@item.Phone'
                        },

                    </text>
                }
			]
    </script>
    <script type="text/javascript" src="/content/resources/js/map.min.js"></script>
}