@using MainProject.Core
@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.Contact.ContactViewModel
<section class="contact">
    <div class="block-send-mail">
        <div class="container">
            <div class="block-title">
                <h2 class="wow fadeInDown" data-wow-delay=".2s">@Model.Category.Title</h2>
                @Html.Raw(Model.Category.Description)
            </div>
            <div class="block-form">
                @Html.Partial("_FormContact", new MainProject.SBussiness.LandingPage.Models.Contact.FormContactViewModel())
            </div>
        </div>
    </div>
    <div class="block-address">
        <div class="container">
            <div class="block-title">
                <h2 class="wow fadeInDown" data-wow-delay=".2s">CHI NHÁNH</h2>
                <h3 class="wow fadeInUp" data-wow-delay=".2s">@Html.Raw(Model.Branch.OfficeName)</h3>
                <p class="lcl lcl-2">@Html.Raw(Model.Branch.Description)</p>
            </div>
            <ul class="list-info-company">
                <li class="item">
                    @Html.Raw(Model.Branch.Address)
                </li>
                <li class="item">
                    @Html.Raw(Model.Branch.Email)
                </li>
                <li class="item">
                    @Html.Raw(Model.Branch.Fax)
                </li>
                <li class="item phone">
                    @Html.Raw(Model.Branch.Phone)
                </li>
            </ul>
            <div id="map"></div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        var locationsInput = [
                @foreach (var item in Model.Branch.Address)
                {
                    <text>
                        {
                            lat: 10.1251,
					        lng: 11.125,
					        title: 'Home',
					        address: '134/8A, Trần Bá Giao, Q.Gò Vấp, Tp. HCM',
					        phone: '0914.633.990'
                        },
                    </text>
                }
			]
    </script>
    <script type="text/javascript" src="/content/resources/js/map.min.js"></script>
}